/*
 ____  _   _ ____  _   _    ___     __
/ ___|| | | | __ )| \ | |  / \ \   / /
\___ \| | | |  _ \|  \| | / _ \ \ / /
 ___) | |_| | |_) | |\  |/ ___ \ V /
|____/ \___/|____/|_| \_/_/   \_\_/

*/

.subnav {
 	width: auto;
 	position: absolute;
 	top: $unit-xl;
 	right: $unit-md;
 	z-index: 10000000;

 	li {
    padding: $unit-xs $unit-xs;
 		margin-bottom: $unit-xs;
    border-radius: 50%;
 		text-align: center;
    transition: all 400ms ease;

    &:hover {
      cursor: pointer;

      a {
        color: $black;
      }
    }

 		a {
 			font-size: $font-size-xl;
 			color: white;
 			text-align: center;
 		}
 	}

 	@include mq (md) {
 		display: none;
 	}

 	@include mq (sm) {
 		display: none;
 	}

  &.home {
    li {
      background-color: rgba(34, 135, 190, .7);
      border: 1px solid $blue-potion;

      &:hover {
        background-color: $blue-potion;

        a {

        }
      }
    }
  }

  &.about {
    li {
      background-color: rgba(160, 110, 175, .7);
      border: 1px solid $purple-potion;

      &:hover {
        background-color: $purple-potion;

        a {

        }
      }
    }
  }

  &.blog {
    li {
      background-color: $teal-potion;
      border: 1px solid $teal-potion;

      &:hover {
        background-color: $teal-potion;

        a {

        }
      }
    }
  }

  &.portfolio {
    li {
      background-color: rgba(133, 185, 51, .7);
      border: 1px solid $green-potion;

      &:hover {
        background-color: $green-potion;

        a {

        }
      }
    }
  }

  &.photography {
    li {
      background-color: rgba(231, 30, 37, .7);
      border: 1px solid $red-potion;

      &:hover {
        background-color: $red-potion;

        a {

        }
      }
    }
  }

  &.resume {
    li {
      background-color: rgba(245, 126, 32, .7);
      border: 1px solid $orange-potion;

      &:hover {
        background-color: $orange-potion;

        a {

        }
      }
    }
  }

  &.contact {
    li {
      background-color: rgba(225, 178, 37, .7);
      border: 1px solid $yellow-potion;

      &:hover {
        background-color: $yellow-potion;

        a {

        }
      }
    }
  }
}
