%script{:src => "js/wufoo.js"}

%header#contact-header.main-header{"ng-controller" => "ContactController", "ng-init" => "init()",:style => "background-image: url(img/superheros/bg-code-" + "{{ activePage }}" + ".jpg)"}

  #contact-container-inner.main-header-inner
    .my-img.large-2.medium-3.columns
      %img{:src => "img/pixelme/pixel-me-" + "{{ activePage }}" + ".png"}

    .my-info.large-10.medium-9.columns
      %h1 {{ title }}

      %p.quote {{ quote }}

      %span.quotee {{ quotee }}

    %a.btn.btn-mini.btn-header.btn-contact{href: "mailto: thomas@thomaswicker.com"}
      Email Me

%ng-include{:src => "'partials/nav.html'"}
%ul.subnav.contact{ 'role' => 'navigation', 'aria-label' => 'social networks navigation' }
  %ng-include{ :src => "'partials/subnav.html'" }

%section#body-contact.medium-12
  #section#body-contact-inner{ 'role' => 'main' }
    .my-info-mobile.show-for-small-only
      %h2
        Contact Me

    .body-contact-left.medium-4.columns
      .contact-info-container
        %h2
          My Contact Info
        %p
          %strong
            Thomas Wicker
        %p
          Senior Software Developer
        %p
          Aurora / CO 80016

        .medium-12.margin.bottom.md.hide-for-small-only
          %a{href: "mailto:thomas@thomaswicker.com", class: "contact-email"}
            thomas@thomaswicker.com

        .medium-12.show-for-small-only.contact-page-email-btn
          %a.btn.btn-primary.btn-mini{href: "mailto:thomas@thomaswicker.com"}
            Email Me

        .google-map
          %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24571.598854494034!2d-104.8441364!3d39.662094100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c880a27879cbb%3A0x52429aef1755f930!2sAurora%2C+CO+80014!5e0!3m2!1sen!2sus!4v1413480283525", frameborder: "0"}>

    .body-contact-right.medium-8.columns
      %h2.contact-header.columns
        Send me an Email

      .body-text.margin.bottom.md.columns
        Whether it's design or development, websites, ui/ux, apps, or photography — I'd love to work with you. I'm always interesting in hearing about new opportunities for either full time or contract work. Just hit me up with the form below and include as many details as you can about your project. I will endeavor to get back to you with you within 24-48 hours. Thanks for stopping by!


      %form#form2.wufoo.topLabel.page.contact-form{"accept-charset" => "UTF-8", :action => "https://xirimedia.wufoo.com/forms/mz9kc670713w35/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form2", :novalidate => ""}
        %ul
          %li#foli1.notranslate
            %label#title1.desc{:for => "Field1"}
              Name
              %span#req_1.req *
            %input#Field1.field.text.medium{:maxlength => "255", :name => "Field1", :onkeyup => "", :required => "", :tabindex => "1", :type => "text", :value => ""}/
          %li#foli2.notranslate
            %label#title2.desc{:for => "Field2"}
              Phone
            %input#Field2.field.text.medium{:maxlength => "255", :name => "Field2", :onkeyup => "", :required => "", :tabindex => "2", :type => "text", :value => ""}/
          %li#foli3.notranslate
            %label#title3.desc{:for => "Field3"}
              Email
              %span#req_2.req *
            %input#Field3.field.text.medium{:maxlength => "255", :name => "Field3", :onkeyup => "", :tabindex => "3", :type => "text", :value => ""}/
          %li#foli4.notranslate
            %label#title4.desc{:for => "Field4"}
              Message
            %textarea#Field4.field.textarea.medium{:cols => "50", :name => "Field4", :onkeyup => "", :rows => "10", :spellcheck => "true", :tabindex => "4"}
          %li.buttons
            %input#saveForm.btn.btn-secondary.submit{:name => "saveForm", :type => "submit", :value => "Submit"}/
          %li.hide
            %label{:for => "comment"} Do Not Fill This Out
            %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
            %input#idstamp{:name => "idstamp", :type => "hidden", :value => "RxL2jE1a5D0kl9iXo9mk5e0BJwiXVLgNS9qgOwXHEy4="}
