%header#photography-header.main-header{"ng-controller" => "PhotographyController", "ng-init" => "init()",:style => "background-image: url(img/superheros/bg-code-" + "{{ activePage }}" + ".jpg)"}
  #photography-container-inner.main-header-inner
    .my-img.large-2.medium-3.columns
      %img{:src => "img/pixelme/pixel-me-" + "{{ activePage }}" + ".png"}

    .my-info.large-10.medium-9.columns
      %h1 {{ title }}

      %p.quote {{ quote }}

      %span.quotee {{ quotee }}

    %a.btn.btn-mini.btn-header.btn-photography{href: "https://www.instagram.com/thomasjwicker", target: "_blank"}
      View My Instagram

%ng-include{:src => "'partials/nav.html'"}
%ul.subnav.photography{ 'role' => 'navigation', 'aria-label' => 'social networks navigation' }
  %ng-include{ :src => "'partials/subnav.html'" }

%section#body-photography
  #body-photography-inner{ 'role' => 'main' }
    .my-info-mobile.show-for-small-only
      %h1
        PHOTOGRAPHY

    %section#body-photography-left
      .instagram-brand
        %a{href: "http://instagram.com/thomasjwicker", target: "_blank"}
          %img.image{:src => "img/instagram_brand.png"}

      .photo-strip-left

      .photo-strip-middle
        #instafeed

      .photo-strip-right

    %section#body-photography-right
      #masonry-container-photo.masonry-container-photo
        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/aboveTheClouds_photo_HD.jpg" }
          %img{ :src => "img/photography/aboveTheClouds_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/sf_bay_HD.jpg" }
          %img{ :src => "img/photography/sf_bay_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/armin1_photo_HD.jpg" }
          %img{ :src => "img/photography/armin1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/hallwedding1_photo_HD.jpg" }
          %img{ :src => "img/photography/hallwedding1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/zanotti_photo_HD.jpg" }
          %img{ :src => "img/photography/zanotti_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/subarubrz1_photo_HD.jpg" }
          %img{ :src => "img/photography/subarubrz1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/eagle_HD.jpg" }
          %img{ :src => "img/photography/eagle_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/jdirty_photo_HD.jpg" }
          %img{ :src => "img/photography/jdirty_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/redSkies_photo_HD.jpg" }
          %img{ :src => "img/photography/redSkies_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/joc1_photo_HD.jpg" }
          %img{ :src => "img/photography/joc1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/glassDelirium1_photo_HD.jpg" }
          %img{ :src => "img/photography/glassDelirium1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/hallwedding2_photo_HD.jpg" }
          %img{ :src => "img/photography/hallwedding2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/glassDelirium2_photo_HD.jpg" }
          %img{ :src => "img/photography/glassDelirium2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/ferryCorsten1_photo_HD.jpg" }
          %img{ :src => "img/photography/ferryCorsten1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/scott_photo_HD.jpg" }
          %img{ :src => "img/photography/scott_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/aboveTheClouds_photo_HD.jpg" }
          %img{ :src => "img/photography/aboveTheClouds_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/glassDelirium6_photo_HD.jpg" }
          %img{ :src => "img/photography/glassDelirium6_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/ocean_HD.jpg" }
          %img{ :src => "img/photography/ocean_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/halestorm1_photo_HD.jpg" }
          %img{ :src => "img/photography/halestorm1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/joc2_photo_HD.jpg" }
          %img{ :src => "img/photography/joc2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/field_HD.jpg" }
          %img{ :src => "img/photography/field_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/subarubrz2_photo_HD.jpg" }
          %img{ :src => "img/photography/subarubrz2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/glassDelirium3_photo_HD.jpg" }
          %img{ :src => "img/photography/glassDelirium3_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/iceGlass_HD.jpg" }
          %img{ :src => "img/photography/iceGlass_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/beach_HD.jpg" }
          %img{ :src => "img/photography/beach_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/trees_HD.jpg" }
          %img{ :src => "img/photography/trees_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/armin2_photo_HD.jpg" }
          %img{ :src => "img/photography/armin2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/imkong1_photo_HD.jpg" }
          %img{ :src => "img/photography/imkong1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/glassDelirium4_photo_HD.jpg" }
          %img{ :src => "img/photography/glassDelirium4_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/sunsetHollywood_photo_HD.jpg" }
          %img{ :src => "img/photography/sunsetHollywood_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/naturePhotography1_photo_HD.jpg" }
          %img{ :src => "img/photography/naturePhotography1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/guitars1_photo_HD.jpg" }
          %img{ :src => "img/photography/guitars1_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/halestorm2_photo_HD.jpg" }
          %img{ :src => "img/photography/halestorm2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/naturePhotography2_photo_HD.jpg" }
          %img{ :src => "img/photography/naturePhotography2_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/hallwedding3_photo_HD.jpg" }
          %img{ :src => "img/photography/hallwedding3_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/armin3_photo_HD.jpg" }
          %img{ :src => "img/photography/armin3_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/glassDelirium5_photo_HD.jpg" }
          %img{ :src => "img/photography/glassDelirium5_photo_HD.jpg" }

        %a.photo.tint{ "data-lightbox" => "photography", :href => "img/photography/markusSchultz1_photo_HD.jpg" }
          %img{ :src => "img/photography/markusSchultz1_photo_HD.jpg" }


%script{:src => "js/instafeed.js"}
