
%li
  %a#login-btn-hidden{ href: "https://www.linkedin.com/in/thomaswicker", target: "_blank"}
    %i.fa.fa-linkedin{ "aria-hidden" => "true" }

%li
  %a#login-btn-hidden{ href: "https://www.facebook.com/thomasjwicker", target: "_blank"}
    %i.fa.fa-facebook{ "aria-hidden" => "true" }

%li
  %a#login-btn-hidden{ href: "https://twitter.com/thomasjwicker", target: "_blank"}
    %i.fa.fa-twitter{ "aria-hidden" => "true" }

%li
  %a#login-btn-hidden{ href: "https://github.com/thomaswicker", target: "_blank"}
    %i.fa.fa-github{ "aria-hidden" => "true" }

%li
  %a#login-btn-hidden{ href: "http://codepen.io/thomasjwicker/", target: "_blank"}
    %i.fa.fa-codepen{ "aria-hidden" => "true" }

%li
  %a#login-btn-hidden{ href: "https://instagram.com/thomasjwicker/", target: "_blank"}
    %i.fa.fa-instagram{ "aria-hidden" => "true" }
