@import "global/mixins";
@import "global/vars";

/*
    _    ____   ___  _   _ _____
   / \  | __ ) / _ \| | | |_   _|
  / _ \ |  _ \| | | | | | | | |
 / ___ \| |_) | |_| | |_| | | |
/_/   \_\____/ \___/ \___/  |_|

*/

#about-header {
  border-top: 5px solid $purple-potion;

  @include mq(sm) {
    border-top: 3px solid $purple-potion;
  }
}

#body-about {
  position: relative;
  float: left;
  width: 100%;

  #body-about-inner {
    position: relative;
    left: 10%;
    right: 10%;
    float: left;
    width: 80%;
    padding-top: $unit-jumbo;
    padding-bottom: $unit-jumbo;
    max-width: $xl-end;

    @include mq(jumbo) {

    }

    @include mq(xl) {

    }

    @include mq(lg) {
      left: 5%;
      right: 5%;
      width: 90%;
    }

    @include mq(md) {
      left: 0;
      right: 0;
      width: 100%;
      padding-top: 40px;
    }

    @include mq(sm) {
      left: 0;
      right: 0;
      width: 100%;
      padding-top: 0;
    }

    .bai--left {
      float: left;
      width: calc(100% - 300px);

      @include mq(md) {
        padding-left: 30px;
      }

      @include mq(sm) {
        width: 100%;
      }
    }

    .bai--right {
      float: left;
      width: 300px;

      .slider_1 {
        left: inherit;
        right: inherit;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      @include mq(md) {

      }

      @include mq(sm) {
        width: 100%;
        text-align: center;
      }
    }

    #how-i-work {
      h3 {
        margin-top: $base-unit;
        font-size: $font-size-xl;
        font-weight: 600;
        line-height: 140%;
        color: $black;
      }

      ul {
        margin-top: $unit-base;
        margin-left: $unit-base;
        list-style-type: disc;

        li {
          margin-top: $unit-sm;
          line-height: 140%;

          a {
          }
        }
      }

      .hiw--left {
        img {
          margin-top: $unit-md;
        }
      }

      .hiw--right {

      }

      @include mq(sm) {
        .hiw--left {
          text-align: center;
        }

        .hiw--right {
          padding-left: $unit-base;
          padding-right: $unit-base;
        }
      }
    }

    h2 {
      font-family: $font-1;
      font-size: 24px;
      font-weight: 400;
      color: $black;

      @include mq(sm) {
        display: none;
      }
    }

    blockquote {
      float: left;
      clear: both;
      max-width: 1000px;
      margin-bottom: $base-unit;
      padding-left: $base-unit;
      font-family: $font-1;
      font-weight: 200;
      color: $purple-potion;
      line-height: 120%;
      border-left: 5px solid $purple-potion;

      @include mq(sm) {
        margin-top: $unit-md;
        margin-left: $unit-base;
        padding-right: $base-unit;
        line-height: 125%;
      }

      p {
        font-size: 35px;
        line-height: 125%;

        @include mq(lg) {
          font-size: 32px;
        }

        @include mq(md) {
          font-size: 30px;
          font-weight: 400;
          line-height: 130%;
        }

        @include mq(sm) {
          font-size: 25px;
          font-weight: 400;
          line-height: 130%;
        }
      }

      a {
        font-weight: 300;
        color: $color-primary;
        text-decoration: underline;

        &:hover {
          color: black;
        }
      }
    }

    p.body-text {
      font-family: $font-2;

      @include mq(sm) {
        padding-left: $unit-base;
        padding-right: $unit-base;
        font-size: 14px;
      }
    }
  }
}
