/*
 ____  _     ___   ____
| __ )| |   / _ \ / ___|
|  _ \| |  | | | | |  _
| |_) | |__| |_| | |_| |
|____/|_____\___/ \____|

*/

#blog-header {
  border-top: 5px solid teal;

  @include mq(sm) {
    border-top: 2px solid teal;
  }
}

#body-blog {
	background-color: #F4F7F8;
	padding-bottom: 70px;

  @include mq(sm) {
    width: 100%;
    padding-bottom: 140px;
  }

  #body-blog-inner {
  	width: 90%;
  	margin-left: auto;
  	margin-right: auto;
  	background-color: $white;

  	@include mq(lg) {
  		width: 96%;
  	}

  	@include mq(md) {
  		width: 100%;
  	}

  	@include mq(sm) {
  		width: 100%;
      margin-bottom: $unit-lg;

  		h1 {
  			padding-top: 1rem;
  		}
  	}

    .body-blog-left {
    	padding: 40px 80px 0 0;

    	@include mq(lg) {
    		padding: 2rem 2rem 0 1rem;
    	}

    	@include mq(md) {
    		padding: 2rem 2rem 0 1rem;
    	}

    	@include mq(sm) {
        padding: 20px 40px 0 0;
    	}

      .blog-entry {
        float: left;
        width: 100%;
        margin-top: $unit-lg;
        padding: $unit-md $unit-md $unit-md $unit-md;
        border: 1px solid #EEE;
        border-left: 3px solid $color-primary;

        &:first-child {
          margin-top: $unit-base;

          @include mq(sm) {
            margin-top: $unit-base;
          }
        }

        @include mq(lg) {
          border-left: 3px solid $color-primary;
        }

        @include mq(md) {
          border-left: 3px solid $color-primary;
        }

        @include mq(sm) {
          margin-top: $unit-lg;
          margin-left: $unit-base;
          padding: 0 $unit-xxs 0 $unit-md;
          border-top: 0;
          border-right: 0;
          border-bottom: 0;
          border-left: 5px solid $color-primary;
        }

        a.post-title {
          float: left;
          width: 100%;
          margin-bottom: $unit-xs;
          font-family: $font-1;
          font-size: 20px;
          font-weight: 500;
          line-height: 140%;
          color: $black;

          @include mq(sm) {
            font-size: 22px;
          }
        }
      }
    }

    .body-blog-right {
    	padding: 1.5rem 1.25rem 3rem 1.25rem;
    	margin-bottom: 2rem;
    	height: auto;
    	background-color: lighten($color-primary, 47%);
    	border: 1px solid lighten($color-primary, 27%);

    	@include mq(md) {
    		padding: 2rem 1rem 3rem 1rem;
    	}

    	@include mq(sm) {
        margin-top: $unit-lg;
    		padding: 2.5rem 1rem 3rem 1rem;
    	}
    }
  }
}

nav.custom-pagination {

  @include mq(sm) {
    padding-left: 15px;
  }

  .page-numbers {
    float: left;
    margin-left: $unit-xxs;
    margin-right: $unit-xxs;
    font-size: 20px;

    @include mq(sm) {
      margin-left: $unit-xs;
      margin-right: $unit-xs;
      font-size: 20px;
    }

    &.page-num {
      float: right;
      padding-top: 5px;
      font-size: 16px;
      color: #AAA;

      @include mq(sm) {

      }
    }

    &.current {
      float: left;
      text-decoration: underline;
    }

    &.prev, &.next {
      position: relative;
      top: -3px;
      width: 25px;
      height: 25px;
      margin-right: $unit-xs;
      font-size: 23px;
      font-weight: 600;
      background-color: $color-primary;
      color: $white;
      text-align: center;

      @include mq(sm) {
        top: -5px;
        width: 35px;
        height: 35px;
        font-size: 30px;
      }
    }
  }
}
