/*
   ____ ___  _   _ _____  _    ____ _____
  / ___/ _ \| \ | |_   _|/ \  / ___|_   _|
 | |  | | | |  \| | | | / _ \| |     | |
 | |__| |_| | |\  | | |/ ___ \ |___  | |
  \____\___/|_| \_| |_/_/   \_\____| |_|

*/

#contact-header {
  border-top: 5px solid $yellow-potion;

  @include mq(sm) {
    border-top: 3px solid $yellow-potion;
  }
}

div.wpcf7 {
  float: left;
  width: 100%;
  padding-left: 18px;
}

.wpcf7-form {
  label {
    font-family: arial;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.wpcf7-form-control-wrap {
  float: left;
  width: 100%;
  margin-top: 5px;
}

#body-contact {
  background-color: $white;
  padding-bottom: $unit-xxl;
  margin-bottom: $unit-lg;

  @include mq(sm) {
		top: $unit-xs;

		.my-info-mobile {
			display: none;
		}
  }
}

#body-contact-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 $unit-xl 0;
  background-color: $white;

  @include mq(lg) {
 		width: 90%;
  }

  @include mq(md) {
 		width: 100%;
  }

  @include mq(sm) {
 		width: 95%;
  }
}

.body-contact-left {
	float: left;
  width: 300px;
	padding: 0 $unit-sm 0 $unit-xl;
  text-align: center;

  @include mq(lg) {
    padding: 0 $unit-sm 0 $unit-xl;
  }


  @include mq(md) {
    padding: 0 $unit-sm 0 $unit-xl;
  }

	@include mq(sm) {
    width: 100%;
    padding: $unit-lg $unit-sm 0 $unit-sm;
		text-align: center;
	}

  .contact-info-container {
    float: right;
    width: 100%;
    min-width: 275px;
    max-width: 325px;

    @include mq(xl) {

    }

    @include mq(lg) {

    }

    @include mq(md) {
      float: left;
      min-width: none;
      max-width: none;
    }

    @include mq(sm) {
      float: left;
      min-width: none;
      max-width: none;
    }

    h3 {
      float: left;
      width: 100%;
      margin: 95px 0 2px 0;
      font-family: $font-1;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      color: $black;

      @include mq(sm) {
        display: none;
      }
    }

    h4 {
      margin: $unit-md 0 $unit-xs 0;
    }

    p {
      float: left;
      width: 100%;
      line-height: $base-line-height;

      &.name {
        margin-top: 20px;

        strong {
          font-weight: 600 !important;
        }

        @include mq(sm) {
          font-size: $font-size-xxl;

          strong {
          }
        }
      }

      &.title {
        @include mq(sm) {
          font-size: $font-size-xl;
          font-style: italic;
        }
      }

      &.address {
        @include mq(sm) {

        }
      }
    }

    a {
      display: block;
      color: $color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .contact-email {
      float: left;
      width: 100%;
      margin-top: 3px;
      padding-left: 0;

      a {
        float: left;
        width: 100%;

        &:before {
          content: "thomas@thomaswicker.com";
        }

        @include mq(sm) {
          display: none;
        }
      }
    }
  }

	.contact-page-email-btn a {
		@include mq(sm) {
			width: 100%;
      margin-top: $unit-xl;
			font-size: 1rem !important;
		}
	}

	.google-map {
		float: left;
		width: 100%;
		margin: $unit-xxs 0 0 0;

    @include mq(lg) {

    }

    @include mq(md) {

    }

    @include mq(sm) {
      margin: $unit-xxs 0 0 0;
    }

		iframe {
			width: 250px;
			height: 250px;
			background-color: $white;
			padding: 7px;
			-moz-box-shadow: 0 0 6px #444;
			-webkit-box-shadow: 0 3px 6px #444;
			box-shadow: 0 0 6px #444;

			@include mq(lg) {
				width: 275px;
				height: 275px;
			}

			@include mq(md) {
				width: 240px;
				height: 240px;
			}

			@include mq(sm) {
				width: 100%;
			}
		}
	}
}

.body-contact-right {
  float: left;
  width: calc(100% - 300px);
	padding: 35px 15px 50px 15px;

  @include mq(xl) {

  }

  @include mq(lg) {

  }

	@include mq(md) {
		padding: $unit-lg 0 $unit-lg 20px;
  }

	@include mq(sm) {
    width: 100%;
		padding: $unit-lg 0 $unit-lg 0;
	}


  .btn {
    border: 0;
  }

  .btn-secondary {

  }
  .btn-gray {

  }

  .body-text {
    max-width: 1100px;

    @include mq(lg) {
      padding-left: 15px;
    }

    @include mq(md) {
      padding-left: 15px;
    }

    @include mq(sm) {
      padding-left: 15px;
    }
  }

	.contact-blurb {
		font-size: $font-size-lg;
		line-height: $base-line-height;
		margin: 0 0 $unit-base 0;
	}

	.contact-button-container {
		float: left;
		margin: $unit-base 0;

    .btn {
      @include mq(sm) {
        width: 100% !important;
      }
    }

    .btn-secondary {
      @include mq(sm) {
        margin-top: $unit-base;
      }
    }

    .btn-gray {
      @include mq(sm) {
        margin-top: $unit-xs;
      }
    }
	}

  label {
    font-weight: 600;

    @include mq(sm) {
      margin-bottom: 4px;
      font-size: 13px;
    }
  }

	input {
		float: left;
		width: 100%;
    max-width: 600px;
    margin: 0;
		padding: 7px $unit-xxs 7px 8px;
		border: 1px solid $light-gray;
		border-radius: 0;
    box-shadow: none;

		&:focus {
			-moz-box-shadow: 0 0 6px $color-primary;
			-webkit-box-shadow: 0 3px 6px $color-primary;
			box-shadow: 0 0 6px $color-primary;
			border: none;
		}

		@include mq(md) {
			width: 90%;
		}

		@include mq(sm) {
			width: 100%;
		}
	}

	textarea  {
		float: left;
		clear: both;
		width: 90%;
		min-height: 180px;
    font-size: 14px;
		padding: 17px 15px;
		border: 1px solid $light-gray;
		border-radius: 0;

		@include mq(md) {
			width: 90%;
		}

		@include mq(sm) {
			width: 100%;
		}
	}

  .wpcf7-submit {
    float: left;
    width: auto;
    min-width: $unit-jumbo;
    margin-top: $unit-md;
    padding: $unit-sm $unit-md;
    border: 2px solid $yellow-potion;
    border-radius: 0;
    font-family: $font-1;
    font-size: $font-size;
    font-weight: $font-weight-semibold;
    text-align: center;
    background: $yellow-potion;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;
    display: block;

    &:hover {
      border: 2px solid lighten($yellow-potion, 10%);
      background: lighten($yellow-potion, 10%);
    }

    @include mq(sm) {
      width: 100%;
      font-family: $font-1;
      font-size: 15px;
    }
  }

  .wpcf7 .ajax-loader {
    float: left;
  }

  .wpcf7-response-output {
    float: left;
    width: 100%;
    margin: $unit-md 0 0 0;
    padding: $unit-xs $unit-md;
    border: 0;

    &.wpcf7-mail-sent-ok {
      background-color: green;
      color: white;
    }

    &.wpcf7-validation-errors {
      background-color: red;
      color: white;
    }
  }

  .wpcf7-form label {
    float: left;
    width: 100%;
    margin: $unit-sm 0 0 0;
  }

  .wpcf7-not-valid-tip {
    float: left;
    width: 100%;
    margin: $unit-xs 0 0 0;
  }
}

.contact-form {
  padding-left: $unit-sm;

  label {
    float: left;
    width: 100%;
  }

  .buttons {
    .btn {
      max-width: 150px;
      margin-top: $unit-sm;
    }
  }
}
