/*
 ____  _____ ____ ___ ____  _____
|  _ \| ____/ ___|_ _|  _ \| ____|
| |_) |  _|| |    | || |_) |  _|
|  _ <| |__| |___ | ||  __/| |___
|_| \_\_____\____|___|_|   |_____|

*/

/* ==========================================================================
%% Styling for SINGLE.PHP --> Single Recipe Template %%
========================================================================== */

.cat-item {
  float: left;
  width: 100%;
  margin-top: $unit-xs;
}

#recipe-header {
  border-top: 5px solid $green-potion;

  @include mq(sm) {
    border-top: 3px solid $green-potion;
  }
}

.recipe-rating {
  .fa {
    margin-right: 5px;
    font-size: 22px;
  }

  &.one {
    .star-1 {
      color: $green-potion;
    }

    .star-2 {
      color: #555;
    }

    .star-3 {
      color: #555;
    }

    .star-4 {
      color: #555;
    }

    .star-5 {
      color: #555;
    }
  }

  &.two {
    .star-1 {
      color: $green-potion;
    }

    .star-2 {
      color: $green-potion;
    }

    .star-3 {
      color: #555;
    }

    .star-4 {
      color: #555;
    }

    .star-5 {
      color: #555;
    }
  }

  &.three {
    .star-1 {
      color: $green-potion;
    }

    .star-2 {
      color: $green-potion;
    }

    .star-3 {
      color: $green-potion;
    }

    .star-4 {
      color: #555;
    }

    .star-5 {
      color: #555;
    }
  }

  &.four {
    .star-1 {
      color: $green-potion;
    }

    .star-2 {
      color: $green-potion;
    }

    .star-3 {
      color: $green-potion;
    }

    .star-4 {
      color: $green-potion;
    }

    .star-5 {
      color: #555;
    }
  }

  &.five {
    .star-1 {
      color: $green-potion;
    }

    .star-2 {
      color: $green-potion;
    }

    .star-3 {
      color: $green-potion;
    }

    .star-4 {
      color: $green-potion;
    }

    .star-5 {
      color: $green-potion;
    }
  }
}

.body-single-recipe {
  float: left;
  width: 100%;
  padding-bottom: $unit-xxl;

  .bsr--inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;

    @include mq(lg) {
      width: 90%;
    }

    @include mq(md) {
      width: 95%;
    }

    @include mq(sm) {
      width: 95%;
    }

    .bsr--left {
      padding: 30px $unit-xxl 0 0;

      @include mq(sm) {
        padding: $unit-lg 0 0 0;
      }

      .recipe-item-single {
        float: left;
        width: 100%;


        // @include mq(lg) {
        //   background-color: red;
        // }
        //
        // @include mq(md) {
        //   background-color: blue;
        // }
        //
        // @include mq(sm) {
        //   background-color: orange;
        // }

        &.recipe-item-first {
          margin-bottom: 15px;
          padding-bottom: 0;

          h4, .screen-reader-text {
            display: none !important;
          }
        }

        h2 {
          font-size: 24px;
          font-weight: 500;

          a {
            color: $color-secondary;
          }
        }

        h3 {
          float: left;
          width: 100%;
          font-family: $font-1;
          font-size: 16px;
          font-weight: 600;
        }

        section {
          position: relative;
          float: left;
          width: 100%;
          margin-bottom: 15px;
          padding-right: $unit-tiny;

          span {
            float: left;
            color: $black;
          }

          &.recipe-rating-and-title {
            margin-bottom: 5px;

            @include mq(sm) {
              text-align: center;
            }

            h2 {
              float: left;
              width: 100%;
              margin: 10px 8px 10px 0;
              text-transform: none;
              line-height: 145%;

              @include mq(lg) {
                margin-bottom: 0;
              }

              @include mq(md) {
                margin-bottom: 0;
              }

              @include mq(sm) {
                float: left;
                width: 100%;
                text-align: center;
              }
            }

            .aggregate-rating {
              display: none;
            }

            .recipe-rating-img {
              position: absolute;
              top: 44px;
              right: 0px;
              float: left;
              max-width: 130px;
              margin-left: 0;

              @include mq(lg) {
                position: absolute;
                top: 44px;
                right: 0px;
                float: left;
                max-width: 130px;
                margin-left: 0;
              }

              @include mq(md) {
                position: relative;
                top: 0;
                clear: both;
                margin-top: 5px;
                margin-bottom: 10px;
                margin-left: 0;
              }

              @include mq(sm) {
                position: static;
                float: none;
                margin: 5px auto 10px;
              }
            }
          }

          &.recipe-images {
            @include mq(sm) {
              display: none;
            }
          }

          &.recipe-comments {
            margin-top: 10px;
            padding-top: 20px;
            border-top: 1px dotted #CCCCCC;

            @include mq(sm) {
              h3 {
                margin-top: 20px;
              }
            }

            h3 {
              float: left;
              width: 100%;
              margin-bottom: 10px;
              font-size: 22px;
              font-weight: 600;
            }
          }

          &.recipe-grouped {
            .recipe-image-container {
              float: left;
              width: 40%;
            }

            .recipe-notes {
              float: left;
              width: 60%;
            }
          }

          &.recipe-categories {
            @include mq(sm) {
              text-align: center;
            }

            a {
              float: left;
              margin-top: 2px;
              margin-right: 5px;
              margin-bottom: 5px;
              padding: 4px 9px;
              font-size: $font-size-xs;
              font-weight: $font-weight-bold;
              background-color: #AAAAAA;
              color: $white;
              word-break: keep-all;

              &:hover {
                background-color: $color-secondary;
                text-decoration: none;
              }

              @include mq(sm) {
                float: none;
              }
            }
          }
        }

        .justified-gallery {
          float: left;
          width: 100%;
          margin-bottom: 20px;
        }

        .justified-gallery > a {
          border: 2px solid $white;
        }

        .comment-reply-title {
          display: none;
        }

        .comment-form-comment {
          label {
            display: none;
          }
        }

        .logged-in-as {
          float: left;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .submit {
          display: block;
          margin-top: 20px;
          margin-bottom: 20px;
          padding: 10px 20px;
          background-color: $blue-potion;
          color: white;
          font-family: $font-1;
          font-size: 13px;
          text-transform: uppercase;
          border: 0px;

          &:hover {
            background-color: lighten($blue-potion, 10%);
          }
        }
      }

      h1 {
        margin-bottom: 0;
        font-family: $font-1;
        font-size: 20px;
        font-weight: 500;
        color: $black;
        text-transform: none;
        line-height: 135%;

        @include mq(sm) {
          font-size: 22px;
        }

        a {
          line-height: 135%;
        }
      }

      h2 {
        float: left;
        font-family: $font-1;
        font-size: 30px;
        font-weight: 400;

        @include mq(sm) {
          margin-top: $unit-xxs;
          margin-bottom: 0;
          line-height: 135%;;
        }

        a {
          font-family: $font-1;
          font-size: $font-size-xl;
          font-weight: 500;
          color: $black;
          text-transform: none;
          line-height: 135%;
        }
      }

      .recipe-categories {
        a {
          padding: 4px 9px;
          font-size: $font-size-xs;
          font-weight: $font-weight-bold;
          text-transform: uppercase;
          background-color: $color-primary;
          color: white;

          &:hover {
            background-color: darken($color-primary, 15%);
            text-decoration: none;
          }
        }
      }
    }

    .bsr--right {
      padding: 0 0 3rem 0;
    	margin-bottom: 2rem;
    	height: auto;
    	background-color: lighten($color-secondary, 47%);
    	border: 1px solid lighten($color-secondary, 27%);

      .recipe-item-single {
        .recipe-details {
          float: left;
          width: 100%;
          padding: 10px 0 10px 0;
          border-bottom: 3px solid white;
          color: white;
          background-color: $color-secondary;
        }

        ul {
          float: left;
          width: 100%;
          margin-top: 10px;
          padding-left: 20px;
          padding-right: 20px;
          list-style-type: disc;

          li {
            float: left;
            width: 100%;
            margin-bottom: 5px;
            font-family: $font-2;
            font-size: 13px;
            line-height: 140%;
          }
        }

        ol {
          float: left;
          width: 100%;
          margin-top: 10px;
          padding-left: 20px;
          padding-right: 20px;
          list-style-type: decimal;

          li {
            float: left;
            width: 100%;
            margin-bottom: 5px;
            font-family: $font-2;
            font-size: 13px;
            line-height: 140%;
          }
        }

        section {
          position: relative;
          float: left;
          width: 100%;
          margin-bottom: 15px;
          padding-right: $unit-tiny;

          &.recipe-ingredients {
            padding: 0 20px 0 20px;

            h3:first-child {
              margin-top: 20px;
            }
          }

          &.recipe-steps {
            padding: 0 20px 0 20px;
          }

          &.recipe-notes {
            padding: 0 20px 0 20px;
            float: left;
            width: 100%;
            margin-bottom: 5px;
            font-family: $font-2;
            font-size: 13px;
            line-height: 140%;

            span {
              color: $black;
            }
          }
        }

        span {
          float: none;
          color: white;
        }

        p {
          float: left;
          width: 33.333%;
          text-align: center;
          color: $color-primary;
        }

        h3 {
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 600;
        }

        .item-value {
          font-size: 30px;
          font-family: $font-1;
          font-weight: 300;
          color: white;
        }

        .recipe-prep-time, .recipe-cook-time, .recipe-total-portions {
          float: left;
          width: 33.333%;
          padding-right: 15px;
          text-align: center;
          font-weight: bold;
          color: white;
        }
      }

      @include mq(md) {
        padding: 0 0 3rem 0;
      }

      @include mq(sm) {
        padding: 0 0 3rem 0;
      }
    }
  }

  form {
    .comment-subscription-form {
      display: none;
    }

    textarea {
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    label {
      float: left;
      width: 100%;
      margin-bottom: 10px;
    }
     .comment-notes {
      span:first-child {
        float: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        font-style: italic;
      }
    }
  }
}

.recipe-item-first {
  .widget_categories {
    h4, .screen-reader-text {
      display: none !important;
    }
  }
}

@media print {
  .recipe-categories {
    display: none;
  }

  .recipe-details {
    float: left;
    width: 100%;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }

  .recipe-rating-img {
    display: none;
  }

  .bsr--right {
    width: 100% !important;;
    padding-left: 0;
    margin-left: 0;
    background-color: transparent !important;
    border: 0px !important;
  }
}

.widget_categories {
  select {
    width: 94%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
  }
}
