@import "global/mixins";
@import "global/vars";

/*
  ____  _____ ____  _   _ __  __ _____
 |  _ \| ____/ ___|| | | |  \/  | ____|
 | |_) |  _| \___ \| | | | |\/| |  _|
 |  _ <| |___ ___) | |_| | |  | | |___
 |_| \_\_____|____/ \___/|_|  |_|_____|

*/

#resume-header {
  border-top: 5px solid $orange-potion;

  @include mq(sm) {
    border-top: 3px solid $orange-potion;
  }

  .superheo-btn-resume {
    position: absolute;
    right: 80px;
    bottom: 20px;
    padding: 10px 25px;
    background-color: rgba(245, 126, 32, .9);
    border: 1px solid white;
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: none;

    &:hover {
      background-color: $white;
      border: 1px solid $white;
      color: $orange-potion;
      text-decoration: none;
    }

    @include mq(xl) {
      right: 80px;
    }


    @include mq(lg) {
      right: 80px;
    }


    @include mq(md) {
      position: absolute;
      right: 20px;
    }

    @include mq(sm) {
      position: absolute;
      left: 50px;
      right: 50px;
      bottom: 20px;
      margin-top: 20px;
      border: 0px;
      background-color: rgba(245, 126, 32, .95);
    }

    &.active {
      display: block;
    }
  }
}

#body-resume {
	float: left;
	background-color: $white;
	padding-bottom: $unit-xxl;

  @include mq(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }

  #body-resume-inner {
  	width: 90%;
  	margin-left: auto;
  	margin-right: auto;
  	background-color: $white;

  	@include mq(lg) {
  		width: 95%;
  	}

  	@include mq(md) {
      width: 98%;
  	}

  	@include mq(sm) {
  		float: left;
  		width: 100%;
  		padding: 0 .5rem;
  	}
  }
}

.office-image {
	width: 90%;
	margin-top: 1rem;
	background-color: white;
}

.linkedin-logo {
	margin: 1rem 0 0 0;
	padding: 1rem 0 1rem 0;
	max-width: 10rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#job-status {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
	float: left;
	width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(245, 126, 32, .95);
  text-align: center;
  z-index: 1001;

  @include mq(md) {
  	display: none;
	}

  @include mq(sm) {
  	display: none;
	}

  p {
    text-align: center;

    i {
      margin-right: 4px;
      font-size: 14px;
      color: $white;
    }

    span {
      float: left;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      font-family: $font-1;
      font-style: italic;
      font-weight: 500;
      color: $white;

      span {
        float: left;
        width: 100%;
        font-style: normal;

        &:first-child {
          margin-bottom: 3px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;

          i {
          }
        }

        &:last-child {
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;

          a {
            color: $white;
            text-decoration: underline;
            font-family: $font-1;
            font-weight: 400;

            &:hover {
              color: $white;
              text-decoration: underline;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

#my-resume--left {
  float: left;
  width: 25%;
	text-align: left;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 20px;

  @include mq(lg) {
    width: 35%;
    padding-right: 40px;
  }

  @include mq(md) {
    width: 35%;
    padding-right: 40px;
  }

	@include mq(sm) {
    width: 100%;
    padding-top: 20px;
    padding-right: 0;
		padding-left: 0;
	}

	#skills-block {
		float: left;
		width: 100%;
    padding-bottom: 1.7rem;
    
    .certification-container {
      width: 100%;
      text-align: center;
    }

    h2 {
      float: left;
      width: 100%;
      color: $black;
      font-family: $font-1;
      font-style: normal;
      margin: 35px 0 2px;
      font-size: 32px;
      font-weight: 900;

      @include mq(xl) {
        font-size: 26px;
      }

      @include mq(lg) {
        font-size: 24px;
      }

      @include mq(md) {
        font-size: 24px;
      }

      @include mq(sm) {
        margin: 1rem 0 $unit-xs 0;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $orange-potion;
        border-bottom: 1px solid $orange-potion;
        color: $orange-potion;
        text-align: center;
        font-size: 25px;
        font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
      }
    }

		h3 {
      float: left;
      width: 100%;
      margin: 20px 0 15px 0;
      @include font($font-1, normal, 19px, 600);
      line-height: 140%;
      color: $black;

      @include mq(md) {
        @include font($font-1, normal, 17px, 600);
      }

      @include mq(sm) {
        @include font($font-1, normal, 18px,600);
        margin: 20px 0 20px 0;
        height: auto;
        text-align: center;

        span {
          display: none;
        }
      }
		}

		#skills-block-left {
			padding-left: 0;
      padding-right: 0;

			@include mq(md) {

			}

			@include mq(sm) {

			}

      h2 {
        font-weight: 600;
        font-size: 17px;
      }
		}

		#skills-block-middle {
			padding: 0;

			h2 {
				color: $black;
			}

			@include mq(md) {
				padding-right: 0;
			}

			@include mq(sm) {
				padding-left: 0;
			}
		}

		#skills-block-right {
      padding: 0;

			h2 {
				color: $black;
			}

			@include mq(sm) {
				padding-left: 0;
			}
		}

		.skills-top {
			float: left;
			width: 100%;
			margin-bottom: 5px;

      @include mq(sm) {
        text-align: center;
        margin-bottom: 8px;
      }
		}

		.skills-bottom {
			float: left;
			width: 100%;
			margin-bottom: 1rem;

			.progress {

			}
		}
	}
}

#my-resume--right {
	float: left;
  width: 75%;
	margin: 0 0 $unit-md 0;
  padding-left: 50px;
	font-family: $font-1;
	font-size: 13px;
	color: $black;

  @include mq(lg) {
    width: 65%;
  }

	@include mq(md) {
    width: 65%;
		padding: $unit-base 0 $unit-lg 0;
	}

	@include mq(sm) {
    width: 100%;
		padding: $unit-base 0 $unit-base 0;
	}

  #mrcd--content {
  	float: left;
  	width: 100%;
  	max-width: 1500px;
  	@include font($font-1, normal, $font-size-sm, $font-weight-normal);
  	line-height: 1.3rem;
  	padding: 2.5rem 0 1rem 0;

  	@include mq(lg) {

  	}

  	@include mq(md) {
  		padding: 0;
  	}

  	@include mq(sm) {
  		width: 100%;
  		height: auto;
  		padding: 1rem 0 1rem 0;
  		@include font($font-1, normal, .9rem, $font-weight-normal);
  	}

  	#my-objective {
  		padding: 0;

      h2 {
        position: relative;
        top: -5px;
        font-family: $font-1;
        font-size: 30px;
        font-weight: 900;
        text-transform: none;
      }

  		p {
  			float: left;
  			margin-top: 1.8rem;
        font-family: $font-2;

  			@include mq(sm) {
  				margin-top: .5rem;
  			}

        &.body-text {
          margin-top: $unit-xs;
        }
  		}
  	}
  }
}

.resume-experience-block {
	float: left;
	width: 100%;
	padding: .8rem 0 1rem 0;
	border-bottom: 1px solid lighten($light-gray, 10%);
  display: block;

  &.no-bottom-border {
    border-bottom: 0;
  }

  .columns {
    padding-left: 0;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }

  .reb--left {
    float: left;
    width: 200px;
    text-align: right;

    img {
      float: right;
      margin-right: 25px;
    }

    @include mq(lg) {

    }

    @include mq(md) {
      width: 100%;

      img {
        float: left;
      }
    }

    @include mq(sm) {
      width: 100%;
      text-align: center;

      img {
        float: none;
      }
    }
  }

  .reb--right {
    float: left;
    width: calc(100% - 200px);

    @include mq(lg) {

    }

    @include mq(md) {
      width: 100%;

      img {
        float: left;
      }
    }

    @include mq(sm) {
      width: 100%;

      img {
        float: left;
      }
    }
  }

	a {
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    color: $color-primary;
	}

  h3 {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    color: $black;
    font-family: $font-1;
    font-size: 26px;
    font-weight: 600;
    text-transform: none;

    @include mq(lg) {
      margin-top: 15px;
    }

    @include mq(md) {
      margin-top: 10px;
    }

    @include mq(sm) {
      margin-top: 20px;
      text-align: center;
    }
  }

  h4 {
    float: left;
    width: 100%;
    margin: 0;

    a {
      float: left;
      width: 100%;
      color: $orange-potion;
      font-size: 17px;
      text-transform: capitalize;

      &:hover {
        color: darken($orange-potion, 10%);
        background-color: transparent;
        text-decoration: underline;
      }

      @include mq(xl) {
        font-size: 17px;
      }

      @include mq(lg) {
        font-size: 18px;
      }

      @include mq(md) {
        font-size: 18px;
      }

      @include mq(sm) {
        font-size: 18px;
        text-align: center;
        line-height: 140%;
      }
    }
  }

  h5 {
    float: left;
    width: 100%;
    color: #555;
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px 25px 0;

    @include mq(sm) {
      text-align: center;
    }
  }

  p.body-text {
    margin-top: 0;
    margin-bottom: 18px;
    padding: 0;
  }

	span {
		text-decoration: none !important;
	}
}

.resume-logo {
	@include mq(md) {
		width: 150px;
	}

	@include mq(sm) {
		width: 100px;
    margin-top: 10px;
	}

	&.oppenheimer {
		width: 80%;

		@include mq(md) {
			width: 150px;
		}

		@include mq(sm) {
      float: none;
			width: 150px;
		}
	}

	&.davita {
		width: 80%;

		@include mq(md) {
			width: 150px;
		}

		@include mq(sm) {
      float: none;
			width: 120px;
		}
	}

	&.att {
		width: 80%;

		@include mq(md) {
			width: 150px;
		}

		@include mq(sm) {
      float: none;
      width: 150px;
		}
	}

	&.cricket {
		width: 80%;
		margin-top: 1.6rem;

		@include mq(md) {
			width: 150px;
		}

		@include mq(sm) {
      float: none;
			width: 150px;
		}
	}

	&.rbsi {
		width: 80%;

		@include mq(md) {
			width: 150px;
		}

		@include mq(sm) {
      float: none;
      width: 150px;
		}
	}

	&.regis {
		width: 80%;
		margin-top: 2rem;

		@include mq(md) {
			width: 150px;
		}

		@include mq(sm) {
      float: none;
      width: 150px;
		}
	}

	&.apex {
		width: 80%;

		@include mq(md) {
			width: 160px;
		}

		@include mq(sm) {
      float: none;
      width: 150px;
		}
	}
}

.resume-logo-container {
	text-align: center;

  img {
    float: left;
    max-width: 200px;
  }
}

#my-experience {
  float: left;
  width: 100%;
  height: auto;
  padding-left: 0;
  padding-right: 0;

  @include mq(lg) {

  }

  @include mq(md) {

  }

  @include mq(sm) {
    border-right: none;
    padding: 0 0 1.7rem 0;
  }

  .body-text {
    float: left;
    width: 100%;
    margin-bottom: 15px;
  }
}

.orbit-container {
  position: relative;
  height: auto !important;
  z-index: 998;

  button.orbit-previous, button.orbit-next  {
    top: 31px !important;
    float: left;
    display: block;
    width: auto;
    min-width: 0;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: $orange-potion;
    border: 1px solid $orange-potion;
    z-index: 1000;

    &:hover {
      background-color: lighten($orange-potion, 10%);
      border: 1px solid lighten($orange-potion, 10%);
    }

    i.fa {
      font-size: 18px;
    }
  }
}

button.orbit-previous {

}

button.orbit-next {

}

.orbit-bullets {
  float: left;
  width: 100%;
  text-align: center;

  button {
    float: none;
    width: 12px;
    height: 12px;
    min-width: 0;
    padding: 0;
    margin: 2px;
    border-radius: 50%;
    border: 0px;
    background-color: #cacaca;
    display: inline;

    &.is-active {
      background-color: $orange-potion;
    }
  }
}

.orbit-slide {
  position: relative;
  float: left;
  width: 100%;
  height: auto !important;
  z-index: 998;
}

#my-references-container-experience {
	float: left;
	width: 100%;
  padding-left: 0;
  padding-right: 0;

	@include mq(sm) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#my-references {
		padding: 1.7rem 0 0 .5rem;

		@include mq(md) {
			padding: .7rem 0 0 .5rem;
		}

		@include mq(sm) {
			padding: 0;
		}

    h2 {
      @include mq(sm) {
        margin: 1rem 0 $unit-xs 0;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $orange-potion;
        border-bottom: 1px solid $orange-potion;
        color: $orange-potion;
        text-align: center;
        font-size: 25px;
        font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
      }
    }

		.ref-card {
			float: left;
			width: 100%;
			border: 1px solid $orange-potion;
			background-color: $white;
			padding: 1.5rem 1.2rem;
			color: $black;
			margin: .9rem 0 .9rem 0;

			@include mq(md) {
				width: 100%;
			}

			.ref-card-top {
				float: left;
				width: 100%;

				.ref-card-top-left {
					float: left;
					width: 100%;
					min-width: 100px;
          text-align: center;

					@include mq(sm) {
						width: 100%;
						text-align: center;
					}

					img {
						width: 100%;
						max-width: 110px;
						margin-top: -5px;
						border-radius: 50%;

						@include mq(sm) {
							width: 40%;
							margin-bottom: 1rem;
						}
					}
				}

				.ref-card-top-right {
					float: left;
          width: 100%;
					padding-top: 15px;

  				@include mq(md) {
  					width: 100%;
  				}

  				@include mq(sm) {
  					width: 100%;
						text-align: center;
  				}

					p {
						float: left;
						clear: right;
						width: 100%;
						color: $color-primary-alt;
						font-family: $font-1;
					}

					.ref-card-p1 {
						@include font($font-2, normal,17px, $font-weight-bold);
						padding: 0 0 5px 0;
						text-transform: uppercase;
            color: $black;
            text-align: center;

            @include mq(md) {
              @include font($font-2, normal,18px, $font-weight-bold);
            }

            @include mq(sm) {
              @include font($font-2, normal,22px, 600);
            }
					}

					.ref-card-p2 {
						@include font($font-1, normal, 16px, $font-weight-normal);
	  				padding: 0 0 5px 0;
            color: $black;
            text-align: center;

            @include mq(md) {
              @include font($font-1, normal, 16px, $font-weight-normal);
            }

            @include mq(sm) {
              @include font($font-1, normal, 18px, $font-weight-normal);
            }
					}

					.ref-card-p3 {
						@include font($font-1, italic, 15px, $font-weight-normal);
            color: $black;
            text-align: center;

            @include mq(md) {
              @include font($font-1, normal, 15px, $font-weight-normal);
            }

            @include mq(sm) {
              margin-top: 5px;
              margin-bottom: 15px;
              @include font($font-1, normal, 15px, $font-weight-normal);
            }
  				}
				}
			}

			.ref-card-bottom {
        float: left;
        width: 100%;
        font-family: Roboto,sans-serif,Helvetica,Arial,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        padding-top: 20px;
        color: #444;
			}
		}
	}
}

.progress {
	background: #DFDFDF;
  height: 15px;
	padding: 0;
	margin: 0;

  @include mq(sm) {
    height: 20px;
  }
}

.adobe, .html, .css, .sass, .javascript, .react, .aws, .angular, .commandline, .haml, .sktech, .rails, .git, .php, .heroku, .db, .uxtesting, .wordpress, .ui, .ux, .rwd, .agile, .rapidproto {
	 -webkit-transition: width 4s ease !important;
	 -moz-transition: width 4s ease !important;
	 -o-transition: width 4s ease !important;
	 transition: width 4s ease !important;
 }

.progress-frontend {
  height: 15px;
	background-color: #8ACE39;

  @include mq(sm) {
    height: 20px;
  }
}

.progress-backend {
  height: 15px;
	background-color: #FFCC00;

  @include mq(sm) {
    height: 20px;
  }
}

.progress-uiux {
  height: 15px;
	background-color: #007EC3;

  @include mq(sm) {
    height: 20px;
  }
}

/* ========================================================
   END RESUME PAGE SCSS
   ======================================================== */
